#formy
  %h2
    Editar #{resource_name.to_s.humanize}
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    = render "devise/shared/error_messages", resource: resource
    .field
      %h3= f.label :email
      = f.email_field :email, autofocus: true, autocomplete: "email"
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %div
        Atualmente aguardando confirmação para: #{resource.unconfirmed_email}
    .field
      %h3= f.label :password, "Senha"
      %i (deixe em branco se não deseja mudar a senha)
      = f.password_field :password, autocomplete: "nova senha"
      - if @minimum_password_length
        %br/
        %em
          = @minimum_password_length
          caracteres mínimos
    .field
      %h3= f.label :password_confirmation, "Confirmação de senha"
      = f.password_field :password_confirmation, autocomplete: "nova senha"
    .field
      %h3= f.label :current_password, "Senha atual"
      %i (precisamos de sua senha atual para confirmar as alterações)
      %br/
      = f.password_field :current_password, autocomplete: "senha atual"
    .actions
      = f.submit "Atualizar"
  %h3 Cancele minha conta
  %p
    Infeliz? #{button_to "Cancele minha conta", registration_path(resource_name), data: { confirm: "Você tem certeza?" }, method: :delete}
  = link_to "Voltar", :back
