#formy
  .floatL
    = root_back
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = render "devise/shared/error_messages", resource: resource
    .field
      //%h3= f.label :email
      = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email"
    .field
      //%h3= f.label :password, "Senha"
      - if @minimum_password_length
        %em
          (#{@minimum_password_length} caracteres mínimos)
      %br/
      = f.password_field :password, autocomplete: "nova senha", placeholder: "Senha"
    .field
      //%h3= f.label :password_confirmation, "Confirmação de senha"
      = f.password_field :password_confirmation, autocomplete: "nova senha", placeholder: "Confirmar Senha"
    .actions
      = f.submit "Registrar"
  = render "devise/shared/links"
