%h2 Registrar
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = render "devise/shared/error_messages", resource: resource
  .field
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true, autocomplete: "email"
  .field
    = f.label :password, "Senha"
    - if @minimum_password_length
      %em
        (#{@minimum_password_length} caracteres mínimos)
    %br/
    = f.password_field :password, autocomplete: "nova senha"
  .field
    = f.label :password_confirmation, "Confirmação de senha"
    %br/
    = f.password_field :password_confirmation, autocomplete: "nova senha"
  .actions
    = f.submit "Registrar"
= render "devise/shared/links"
