%h1 Lista de visitantes

%table(border)
  %thead
    %tr
      %th Nome
      %th Credencial
      %th Agendamentos
      %th Opções

  %tbody
    - @visitors.each do |visitor|
      %tr
        %td= visitor.name
        %td= visitor.credential
        %td= link_to visitor.schedule.datetime, visitor.schedule
        %td
          = link_to 'Detalhes', visitor
          = link_to 'Editar', edit_visitor_path(visitor)
          = link_to 'Apagar', visitor, method: :delete, data: { confirm: 'Você tem certeza?' }

%br

= link_to 'Novo visitante', new_visitor_path
