- content_for :title do
  - (t "headers.#{action_name}") + ' ' + (t "models.#{controller_name}", count: 2)

#paper{ style:table_width(4) }
  %table
    - unless @visitors.count.zero?
      %thead
        %tr
          %th= t "shows.name"
          %th= t "shows.credential"
          %th= t "models.schedules", count: 0
          %th= t "shows.options"

      %tbody.data
        - @visitors.each do |v|
          - str = I18n.l v.schedule.datetime, format: :long
          %tr
            %td= v.name
            %td= v.credential
            %td= link_to str, v.schedule
            %td
              = image_show v
              = image_edit v
              = image_delete v
    - else
      %tr
        %td
          - str = (t "shows.none") + ' ' + (t "models.#{controller_name}", count: 2)
          %h3= str
    %tbody.commands
      %tr
        %td{ colspan: 5 }
