.container-show
  %p#notice= notice

  %p
    %b Nome:
    = @visitor.name
  %p
    %b Credencial:
    = @visitor.credential
  %p
    %b Agendamentos:
    = @visitor.schedule

  = link_to 'Editar', edit_visitor_path(@visitor)
  \|
  = link_to 'Voltar', visitors_path
