- content_for :title do
  - (t "headers.#{action_name}") + ' ' + (t "models.#{controller_name}", count: 2)

#paper{ style: table_width(4) }
  %table
    - unless @hosts.count.zero?
      %thead
        %tr
          %th Nome
          %th Credencial
          %th Agendamentos
          %th Opções

      %tbody.data
        - @hosts.each do |host|
          %tr
            %td= host.name
            %td= host.credential
            %td
              - host.schedules.each do |s|
                = link_to s.datetime, s
            %td
              = image_show host
              = image_edit host
              = image_delete host
    - else
      %tr
        %td
          %h3= t "Sem Anfitriões"
    %tbody.commands
      %tr
        %td{ colspan: 5}
