%h1 Lista de Anfitriões

%table(border)
  %thead
    %tr
      %th Nome
      %th Credencial
      %th Agendamentos
      %th Opções

  %tbody
    - @hosts.each do |host|
      %tr
        %td= host.name
        %td= host.credential
        %td= link_to host.schedule.datetime, host.schedule
        %td
          = link_to 'Detalhar', host
          = link_to 'Editar', edit_host_path(host)
          = link_to 'Apagar', host, method: :delete, data: { confirm: 'Você tem certeza?' }

%br

= link_to 'Novo Anfitrião', new_host_path
