.container-show
  %p
    %b Nome:
    = @host.name
  %p
    %b Credencial:
    = @host.credential
  %p
    - @host.schedules.each do |s|
      = link_to 'Agendamento', s

  = link_to 'Editar', edit_host_path(@host)
  \|
  = link_to 'Voltar', hosts_path
