.container-show
  %p#notice= notice

  %p
    %b Nome:
    = @host.name
  %p
    %b Credencial:
    = @host.credential
  %p
    %b Agendamentos:
    = @host.schedule

  = link_to 'Editar', edit_host_path(@host)
  \|
  = link_to 'Voltar', hosts_path
