- index ||= 0

.form-visitor( style="#{ index.zero? ? "" : "display: none;"}"  )
  - unless index.zero?
    %hr

  - unless index.zero?
    .float( style="float: right; margin-right: 8px")
      = button_tag 'Remover', type: :button, id: :remove_visitor_coffee

  .field
    %input( required="required" type="text" name="schedule[visitors_attributes][#{index}][name]" id="schedule_visitors_attributes_#{index}_name" placeholder="Nome" )

  .field
    %input( required="required" type="text" name="schedule[visitors_attributes][#{index}][credential]" id="schedule_visitors_attributes_#{index}_credential" placeholder="Credencial")

  .field
    %input( required="required" type="text" name="schedule[visitors_attributes][#{index}][email]" id="schedule_visitors_attributes_#{index}_email" placeholder="Email")
  
  .field( style="display: block ruby; color: grey; margin-bottom: 0")
    %input( type="checkbox" name="schedule[visitors_attributes][#{index}][acquaintance]" id="schedule_visitors_attributes_#{index}_acquaintance" )
    = label :acquaintance, (t "acquaintance")

  .field( style="display: block ruby; color: grey;")
    %input( type="checkbox" name="schedule[visitors_attributes][#{index}][initiator]" id="schedule_visitors_attributes_#{index}_initiator" )
    = label :initiator, (t "initiator")
