- content_for :title do
  - (t "headers.#{action_name}") + ' ' + (t "models.#{controller_name}", count: 2)
#formy
  = form_for @schedule do |f|
    - if @schedule.errors.any?
      #error_explanation
        %h2= "#{pluralize(@schedule.errors.count, "error")} prohibited this schedule from being saved:"
        %ul
          - @schedule.errors.full_messages.each do |message|
            %li= message

    .field
      %h3= f.label :datetime, "Data e hora:"
      = f.datetime_select :datetime, start_year: Date.today.year, minute_step: 10, prompt: true
    %h3 Anfitrião:
    = f.fields_for :host do |h|
      .field
        //= h.label :name, "Nome"
        = h.text_field :name, required: true, placeholder: "Nome"
      .field
        //= h.label :credential, "Credencial"
        = h.text_field :credential, required: true, placeholder: "Credencial"
      .field
        //= h.label :email
        = h.text_field :email,  required: true, placeholder: "Email"

    %h3 Visitantes:

    #form-visitor-pile
      = f.fields_for :visitors do |v|
        = render 'form_visitor'
    #commands
      = link_to 'Incluir Visitante', add_visitor_path, id: :add_visitor_ajax, remote: true

      .actions
        = f.submit 'Salvar'

