- content_for :title do
  - (t "headers.#{action_name}") + ' ' + (t "models.#{controller_name}", count: 2)

#paper{ style: table_width(5) }
  %table
    - unless @schedules.count.zero?
      %thead
        %tr
          %th= t "shows.datetime"
          %th= t "models.hosts", count: 1
          %th= t "models.visitors", count: 0
          %th= t "shows.approved"
          %th= t "shows.options"

      %tbody.data
        - @schedules.each do |schedule|
          %tr
            %td
              - str = I18n.l schedule.datetime, format: :long
              = str

            %td= link_to schedule.host.name, schedule.host
            %td
              - schedule.visitors.each do |v|
                = link_to v.name, v
            %td= schedule.approved ? 'Sim' : 'Não'
            %td
              = image_show schedule
              = image_edit schedule
              = image_delete schedule
    - else
      %tr
        %td
          - str = (t "shows.none") + ' ' + (t "models.#{controller_name}", count: 2)
          %h3= str
    %tbody.commands
      %tr
        %td{ colspan: 6}
          = button_to 'Novo Agendamento', new_schedule_path, method: :get
