%h1 Listando agendamentos

%table(border)
  %thead
    %tr
      %th Data e Hora
      %th Anfitrião
      %th Visitante(s)
      %th Aprovado
      %th Opções

  %tbody
    - @schedules.each do |schedule|
      %tr
        %td= schedule.datetime
        %td= link_to schedule.host.name, schedule.host
        %td
          - schedule.visitors.each do |v|
            = link_to v.name, v
        %td= schedule.approved ? 'Sim' : 'Não'
        %td
          = link_to 'Detalhes', schedule
          = link_to 'Editar', edit_schedule_path(schedule)
          = link_to 'Apagar', schedule, method: :delete, data: { confirm: 'Tem certeza disso?' }

%br

= link_to 'Novo Agendamento', new_schedule_path
