.container-show
  //%p#notice= notice

  %h3 Detalhes da visita:
  %p
    %b Data e hora:
    = @schedule.datetime
  %p
    %b Anfitrião:
    - if current_user
      = link_to @schedule.host.name, @schedule.host
    - else
      = @schedule.host.name
  %p
    %b Visitante(s):
    - @schedule.visitors.each do |v|
      - if current_user
        = link_to v.name, v
      - else
        = v.name
      - unless @schedule.visitors.last == v
        ,
      %br
  %p
    %b Status de Aprovação:
    = @schedule.approved ? 'Aprovado' : 'Pendente'

  - if current_user
    - unless @schedule.approved
      = button_to 'Aprovar Agendamento', approve_path, remote: true, params: { id: @schedule.id }, data: { disable_with: 'Processando...' }
    = link_to 'Editar', edit_schedule_path(@schedule)
    \|
    = link_to 'Voltar', schedules_path
