- content_for :title do
  - (t "headers.#{action_name}") + ' ' + (t "models.#{controller_name}", count: 1)

#paper
  .floatL
    = image_back @schedule
  .floatR
    = image_edit @schedule

  %table
    %tbody.data
      %tr
        %td.bold= t "shows.datetime"
        %td
          - str = I18n.l @schedule.datetime, format: :long
          = str
      %tr
        %td.bold= t "models.hosts", count: 1
        %td
          - str = @schedule.host.name + ' (ID:' + @schedule.host.credential + ')'
          = str
          %br
          = @schedule.host.email
      %tr
        %td.bold= t "models.visitors", count: 0
        %td
          - @schedule.visitors.each do |v|
            - str = (v.name) + (' (ID:') + (v.credential) + (')')
            = str
            %br
            = v.email
            - if v != @schedule.visitors.last
              %hr
      %tr
        %td.bold= t "shows.status"
        %td= @schedule.approved ? (t "shows.approved") : (t "shows.pending")
    %tbody.commands
      - if current_user
        %tr
          %td{ colspan: 2}
            - unless @schedule.approved
              = button_to 'Aprovar Agendamento', approve_path, remote: true, params: { id: @schedule.id }, data: { disable_with: 'Processando...' }
