%table
  %tr
    %td= label_tag "visitor1_field1", 'field1:'
    %td= text_field_tag :visitor1_field1
  %tr
    %td= label_tag :visitor1_field2, 'field2:'
    %td= text_field_tag :visitor1_field2
  %tr
    %td= label_tag :visitor1_field3, 'field3:'
    %td= text_field_tag :visitor1_field3
  %tr
    %td= label_tag :visitor1_field4, 'field4:'
    %td= text_field_tag :visitor1_field4
%br
